* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: linear-gradient(#111827, #020617);
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

#menu {
    margin-top: 60px;
}

#menu h1 {
    font-size: 48px;
}

#startBtn {
    background: #ff9800;
    color: white;
    border: 0;
    padding: 15px 45px;
    border-radius: 10px;
    font-size: 22px;
    cursor: pointer;
}

#startBtn:hover {
    background: #ff6d00;
}

#game {
    display: none;
    margin: 30px auto;
    border: 5px solid white;
    background: #7dd3fc;
}

#message {
    font-size: 28px;
    font-weight: bold;
}
