* {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow: hidden;

    font-family: Arial, sans-serif;

    color: white;

    background:
        radial-gradient(
            circle at center,
            #172554,
            #020617 70%
        );
}

/* MENU */

#menu {

    position: fixed;

    inset: 0;

    display: flex;

    flex-direction: column;

    align-items: center;

    justify-content: center;

    background: rgba(2,6,23,.96);

    z-index: 10;

    text-align: center;
}

#menu h1 {

    font-size: 48px;

    color: #38bdf8;

    text-shadow:
        0 0 10px #38bdf8,
        0 0 30px #2563eb;
}

#menu p {

    font-size: 20px;

    color: #cbd5e1;
}

button {

    border: none;

    border-radius: 12px;

    padding: 15px 45px;

    font-size: 20px;

    font-weight: bold;

    color: white;

    background:
        linear-gradient(
            135deg,
            #06b6d4,
            #2563eb
        );

    cursor: pointer;

    box-shadow:
        0 0 20px #2563eb;

    transition: .2s;
}

button:hover {

    transform: scale(1.08);

    box-shadow:
        0 0 30px #38bdf8;
}

.controls {

    display: flex;

    gap: 80px;

    margin-top: 35px;
}

.controls div {

    padding: 20px;

    border-radius: 15px;

    background: #0f172a;

    border: 1px solid #334155;

    min-width: 220px;
}

/* CANVAS */

#game {

    display: block;

    width: 100vw;

    height: 100vh;
}

/* INTERFACE */

#ui {

    position: fixed;

    top: 15px;

    left: 50%;

    transform: translateX(-50%);

    display: flex;

    gap: 100px;

    padding: 12px 30px;

    border-radius: 15px;

    background: rgba(15,23,42,.85);

    font-size: 20px;

    z-index: 5;
}

.player1 {

    color: #ff5252;
}

.player2 {

    color: #38bdf8;
}

/* GAME OVER */

#gameOver {

    position: fixed;

    inset: 0;

    display: none;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    background: rgba(0,0,0,.85);

    z-index: 20;
}

#gameOver h1 {

    font-size: 55px;

    color: #ef4444;

    text-shadow: 0 0 20px red;
}
